/*css for the sign up button*/
.signup {
 background:url(../images/btn-login.png) no-repeat 5px 5px #05457f;
  width: 110px;
  cursor:pointer;
  border-radius:50px;
  padding:10px 20px 10px 0;
  color:White;
  font-size:14px;
  text-align:left;
  text-indent:40px;
  display:block;
  margin:0 auto;
  position:absolute;
  left:990px;
  top:110px;
 
  /* Animations: */
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: .4s;
  -webkit-transition-property: all;
  
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-duration: .4s;
  -moz-transition-property: all;
}

.signup:hover {
  background-image:url(../images/btn-login-hover.png);
  background-position: 75px 5px;
  text-indent: 20px;  
}
/*css for the login button*/
.login {
 background:url(../images/btn-login.png) no-repeat 5px 5px #05457f;
  width: 110px;
  cursor:pointer;
  border-radius:50px;
  padding:10px 20px 10px 0;
  color:White;
  font-size:14px;
  text-align:left;
  text-indent:40px;
  display:block;
  margin:0 auto;
  position:absolute;
  left:1110px;
  top:110px;
 
  /* Animations: */
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: .4s;
  -webkit-transition-property: all;
  
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-duration: .4s;
  -moz-transition-property: all;
}

.login:hover {
  background-image: url(../images/btn-login-hover.png);
  background-position: 75px 5px;
  text-indent: 20px;  
}

/*css for the logout button*/
.logout {
 background:url(../images/btn-login.png) no-repeat 5px 5px #05457f;
  width: 110px;
  cursor:pointer;
  border-radius:50px;
  padding:10px 20px 10px 0;
  color:White;
  font-size:14px;
  text-align:left;
  text-indent:40px;
  display:block;
  margin:0 auto;
  position:absolute;
  left:1230px;
  top:110px;
 
  /* Animations: */
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: .4s;
  -webkit-transition-property: all;
  
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-duration: .4s;
  -moz-transition-property: all;
}

.logout:hover {
  background-image: url(../images/btn-login-hover.png);
  background-position: 75px 5px;
  text-indent: 20px;  
}
/*css for the cart button*/
.cart {
 background:url(../images/btn-cart.png) no-repeat 5px 5px #05457f;
  width: 40px;
  cursor:pointer;
  border-radius:50px;
  padding:10px 20px 10px 0;
  color:White;
  font-size:14px;
  text-align:left;
  text-indent:40px;
  display:block;
  margin:0 auto;
  position:absolute;
  left:940px;
  top:110px;
 
}

.cart:hover {
  background-image: url(../images/btn-cart-hover.png); 
}